* {
	margin:0;
	padding:0;
}

html {
	background-color:#666;
}

ul {
	list-style-position:inside;
}

h3 {
	margin-bottom:15px;
}

#small-container {
	width:350px;
	padding:20px;
	border:1px solid #888;
	background-color:#fff;
	margin:100px auto;
	border-radius:5px;
	box-shadow:0 0 15px #000;
}

.small-section {
	font-size:0.8em;
	margin-top:20px;
}

.square {
	position:absolute;
	width:10px;
	height:10px;
	background-color:#fff;
}
